@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0; /* Makes sure there is no default margins to begin with*/
    padding: 0; /* Makes sure there is no default padding to begin with*/
    box-sizing: border-box; /* Makes sure the size and location of things includes it's padding and border not just content*/
    text-decoration: none;  /* Give me plain everything. Links shouldn't have underlines */
}

body {
    min-height: 100vh;
}


header {
    width: 100%;
    background-color: rgba(10, 10, 10, 0.932);
}

/* Default nav ul is for desktop version */
nav ul {
    width: 100%; /* Flexbox must span entire width of screen*/
    list-style: none;  /* Makes sure there's no bullet points or other list style */
    display: flex; /* All children of this element belong to it's flex-box*/
    justify-content: space-between; 
    /* Putting align-items: center here won't do anything b/c no height was defined*/
}

nav li {
    height: 100px;   /* We set the height of the li's and that sets the height of the parent to the height of the li*/
}
nav a{
    height: 100%;
    padding: 0 9px;
    color: white;
    display: flex;
    align-items: center; /* Aligns elements vertically in respect to parent's height*/
}
nav a:hover {
    color:antiquewhite;
}

#account_logo path:hover {
    fill:antiquewhite;
}

nav li #logo {
    /* font-family: sans-serif; */
    font-size: 45px;
}
.hideOnMobile {
    font-size: 20px;
}

/* Making the cart white so it shows */
#cart_icon path {
    stroke: white;
}
#cart_icon circle {
    stroke: white;
    fill: white;
}
#cart_icon:hover path {  /* This means if hover over whole icon, make path antiquewhite*/
    stroke: antiquewhite;
}

.search {
    margin-right: -7px;
}
.cart {
    margin-left: -7px;
}

/* Styling the mobile nav menu*/

.phone_menu {
    position: fixed; /* We strictly determine it's position */
    top: 0;
    left: 0; /* These two combined move it to the top left of the screen */
    height: 100vh; /* Height is the whole view of the screen */
    width: 70%; /* I want the sidebar to cover 70% of the screen when opened*/
    z-index: 99; /* Make sure the phone_menu is above verything else*/
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 2); /* This is just fancy stuff that adds a little depth shadow to the border of the sidebar*/

    display: none; /* I put it as none initally so it hides but when you click on it, JS changes this to flex. When it opens and you hit the X it changes it back to none*/
    flex-direction: column; /* Vertical flexbox not horizontal. Stuff aligned on top of each other with respect to each other */
    align-items: start; /* Vertically stick flex-box to the top*/
    justify-content: start; /* Horizontally stick flex-box to the very left*/
    padding-left: 15px;
}
.phone_menu li {
    width: 100%;
}
#burger {
    display:none
}

.phone_menu a {
    width: 100%;
    color: black;   /* Since background white we need elements to be black so visible*/
}
.phone_menu a:hover {
    color: black;
    background-color: rgb(232, 232, 232);
}
#X a:hover {
    background-color: white; /*May change mind but i don't wan the gray for the x*/
    cursor: pointer;
}

/* Less than 800 is mobile view */
@media (max-width: 750px) {
    /* Hide elements that are not needed on mobile */
    .hideOnMobile {
        display: none;
    }
    /* Center logo */
    #logo {
        flex-grow: 1; /* Allow the logo to take up available space */
    }

    /* Align hamburger on the left */
    #burger {
        display: flex; /* Ensure the burger is shown */
        margin-right: auto; /* Push the hamburger to the left */
        padding-left: 10px;
        padding-right: 32px; /* To make it center in middle of screen because it would currently center between burger and search*/
    }

    /* Align search and cart to the right */
    nav ul li:nth-last-child(2){    /*This pushes the search bar (2nd to last child) all the way to the right*/
        margin-left: auto;
     } 

    /* Adjust search and cart icons if needed. Reduce gap between search and cart */
    .search {
        margin-right: -10px;
    }
    .cart {
        margin-left: -10px;
    }

    /*The most important thing here that allows the justify-content: space-between that was set above
     to not get fucked up is that I have BOTH margin-left:auto and margin-right: auto. Having one of them 
     messes things up because it overrides the justify content and tries to do whatever it takes to push the item 
     all the way right or left. Here, space between allows evenly spaced gaps on left and right side of SDMN logo and
      the margins for search and burger push their elements to either end. 
      
      flex-grow for logo just allows it to grow if it has space to. Not necessary for centering */
}

@media (min-width: 750px) {
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    #logo {
        padding-left: 20px;
        padding-right: 50px;
    }
    nav ul li:nth-last-child(2){    /*This pushes the search bar (2nd to last child) all the way to the right*/
        margin-left: auto;
     } 
}




/*/////////////////////////   Landing Page: Top Image   ///////////////////////////////////////////////*/

.top_image_container {
    position: relative; /* To control the layout */
    width: 100%; /* Default: Full width */
    height: auto; /* Adjust height to maintain aspect ratio */
}

.top_image_container img {
    width: 100%; 
    height: auto;
    display: block;
}

.top_image_container button {
    position: absolute; /* Position relative to the container */
    bottom: 10%; /* Distance from the bottom of the image */
    left: 49%; /* Horizontally center the button */
    transform: translateX(-50%); /* Adjust centering */
    padding: 10px 20px; 
    background-color: #0000; 
    color: #fff; 
    border: none; /* Remove button's border */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: underline;
}

.top_image_container button:hover {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
}


@media (max-width: 940px) {
    .top_image_container {
        width: 100vw; /* Full viewport width */
        height: 85vh; /* Cover 80% of the screen height */
    }
    .top_image_container img {
        display: block;
        object-fit: cover; /* Ensures the image covers the container proportionally */
        width: 100%; /* Image fills the container */
        height: 100%; /* Stretches while maintaining aspect ratio */
    }
}
@media (max-width: 660px) {
    .top_image_container {
        height: 70vh; /* Cover 80% of the screen height */
    }
}
@media (max-width: 590px) {
    .top_image_container {
        height: 60vh; /* Cover 80% of the screen height */
    }
}



/*/////////////////////////   Search Page   ///////////////////////////////////////////////*/

.search_page {
    display: none; /* Hide search bar until it */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* The above 5 lines of code are to ensure that the search page covers the entire screen 
    not just 100% of the parent container (just a div) Without this, header still shows.*/
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/





img {
    width: 100%;
}







/*///////////////////////// Login Page and Create Account Page////////////////////////////////////////////////////////*/

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 7%;
    background-color: rgb(241, 241, 241);
    padding: 20px; /*padding inside the box */
}
.login h1 {
    padding: 20px;
    margin-bottom: 10px;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 10px;
    gap:10px;
}

.login form .input {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login form input {
    box-sizing: border-box;
    flex-grow: 1;
    height: 30px;
    min-width: 0px;
    padding: 1em;
}

.login form label {
    padding: 3px;
    margin-right: 3px;
}

.form_label_icon path {
    fill: rgb(0, 0, 0);
}



.login button {
    padding: 10px;
    margin-top: 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* for rounded corners */
}
.login button:hover {
    background-color: #303030;
}

.login p {
    margin-top: 10px;
    padding-bottom: 50px;
}

.login a {
    color: #484848;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

.login h3{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/*///////////////////////////////////////////////////////////////////////////////////////*/





